@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="content">
                    <h3 id="about-us">Who we are</h3>
                    <p>
                        <strong>KLUG</strong> [kay-luhg] is a group of AFOLs (Adult Fans
                        of LEGO<sup>&reg;</sup>) and families located in and around
                        Kenosha, Wisconsin.
                    </p>
                    <h3>What we do</h3>
                    <p>
                        <strong>KLUG</strong> members share their love of LEGO<sup>&reg;</sup>
                        bricks. We show our creations to the public at 8 to 10 events
                        per year. We meet monthly to plan for upcoming events, share
                        ideas, and build together. Many of our meetings include a build
                        challenge which encourages us to create outside of our comfort
                        zones and use pieces which we might not otherwise consider.
                    </p>
                    <h3 id="wretched-excess">
                        What is <strong>Wretched Excess</strong>?
                    </h3>
                    <p>
                        <strong>KLUG</strong> members push each other to constantly
                        improve and take our builds to the next level. Much like the
                        improv comedy rule of "Yes, and...", we strive to build upon
                        each other's creativity and encourage unlimited expansion of
                        ideas.
                    </p>
                    <h3>Where to find us</h3>
                    <p>
                        Check our
                        <a href="https://www.facebook.com/kenoshalug" target="_blank"><strong>Facebook page</strong></a>
                        for information on upcoming shows, or
                        <a href="mailto:contact@kenoshalug.org" target="_blank"><strong>contact us</strong></a>
                        if you're interested in joining the group.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>